.game {
    display: grid;
    color: #fff;
    font-weight: 700;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .groups {
        width: 100%;
    }
}

.game .vs {
    text-align: center;
}